/* Button Styles */
.button {
  background-color: rgba(0, 0, 0, 0.7);
  border: rgba(255, 255, 0, 0);
  color: #fafa00;
  padding: 16px 36px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 5px 3px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 300ms, color 300ms, transform 200ms;
}

.button:hover {
  background-color: #ffffff;
  color: black;
  transform: scale(1.05);
}
